/* -------------------------------------------------------------------------
   Imports */
/* Vars */
/* line 61, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.4375em;
}

/* A Fluid Grid based on 960gs */
/* Not Fluid */
/* Sprite */
/* sdknf */
/* line 274, sprites/*.png */
.sprites-sprite, .content header.global h1 a, .content > footer .social li a.fb, .content > footer .social li a.rss, .content > footer .social li a.google {
  background: url('../img/sprites-sfc10671a2d.png') no-repeat;
}

/* -------------------------------------------------------------------------
   Layout */
/* line 56, sass/screen.scss */
.container, .content header.global, .content > div.main, .content > footer > div, div.organization-info div, section.people ul {
  *zoom: 1;
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, .content header.global:after, .content > div.main:after, .content > footer > div:after, div.organization-info div:after, section.people ul:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------
   Extensions : Individual Section Blocks */
/* line 83, sass/screen.scss */
.inline-padding, .column-wrapper > header, .news > header, .submissions.sidebar > header, .submissions.main > header,
.program > header, .submit-idea > header, .create-profile > header, .learn > header, .learn-more > header, .what-is-hapi > header, .program-structure > header, .who-is > header, .contact-form > header, .direct-contact > header, .idea > header, .idea-comments > header, .references > header, .users > header, .nodes > header, .categories > header, .node-wrapper > header, .static.sidebar > header, .program h3, .program .block-body, .submissions article header, .learn-more ul, .node-wrapper .node header {
  padding: 0 1em;
}

/* line 87, sass/screen.scss */
.full-spacing, .column-wrapper > .inner, .news > .inner, .submissions.sidebar > .inner, .submissions.main > .inner,
.program > .inner, .submit-idea > .inner, .create-profile > .inner, .learn > .inner, .learn-more > .inner, .what-is-hapi > .inner, .program-structure > .inner, .who-is > .inner, .contact-form > .inner, .direct-contact > .inner, .idea > .inner, .idea-comments > .inner, .references > .inner, .users > .inner, .nodes > .inner, .categories > .inner, .node-wrapper > .inner, .static.sidebar > .inner, .users > div, .nodes .node, .node-wrapper header + div, .node-wrapper .node-comments {
  margin: 1em;
}

/* line 91, sass/screen.scss */
.hidden-text, .content header.global h1 a, article aside a, .slideshow ul.toggles li, .content > footer .social li a {
  text-indent: 9999px;
  overflow: hidden;
}

/* line 96, sass/screen.scss */
.action-button, input[type='submit'], a.button {
  display: inline-block;
  padding: .5em 1em;
  background-color: #21a4b6;
  color: white;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 104, sass/screen.scss */
.action-button:hover, input[type='submit']:hover, a.button:hover {
  background-color: #222222;
  color: white;
}
/* line 108, sass/screen.scss */
.action-button:visited, input[type='submit']:visited, a.button:visited {
  color: white;
}

/* line 113, sass/screen.scss */
.column-wrapper, .news, .submissions.sidebar, .submissions.main,
.program, .submit-idea, .create-profile, .learn, .learn-more, .what-is-hapi, .program-structure, .who-is, .contact-form, .direct-contact, .idea, .idea-comments, .references, .users, .nodes, .categories, .node-wrapper, .static.sidebar {
  background: #d4edf1;
  color: #222222;
  margin-bottom: 1em;
}
/* line 117, sass/screen.scss */
.column-wrapper > header, .news > header, .submissions.sidebar > header, .submissions.main > header,
.program > header, .submit-idea > header, .create-profile > header, .learn > header, .learn-more > header, .what-is-hapi > header, .program-structure > header, .who-is > header, .contact-form > header, .direct-contact > header, .idea > header, .idea-comments > header, .references > header, .users > header, .nodes > header, .categories > header, .node-wrapper > header, .static.sidebar > header {
  color: white;
  background: #21a4b6;
  overflow: hidden;
  *zoom: 1;
}
/* line 75, sass/screen.scss */
.column-wrapper > header a, .news > header a, .submissions.sidebar > header a, .submissions.main > header a,
.program > header a, .submit-idea > header a, .create-profile > header a, .learn > header a, .learn-more > header a, .what-is-hapi > header a, .program-structure > header a, .who-is > header a, .contact-form > header a, .direct-contact > header a, .idea > header a, .idea-comments > header a, .references > header a, .users > header a, .nodes > header a, .categories > header a, .node-wrapper > header a, .static.sidebar > header a {
  color: white;
}
/* line 78, sass/screen.scss */
.column-wrapper > header h2, .news > header h2, .submissions.sidebar > header h2, .submissions.main > header h2,
.program > header h2, .submit-idea > header h2, .create-profile > header h2, .learn > header h2, .learn-more > header h2, .what-is-hapi > header h2, .program-structure > header h2, .who-is > header h2, .contact-form > header h2, .direct-contact > header h2, .idea > header h2, .idea-comments > header h2, .references > header h2, .users > header h2, .nodes > header h2, .categories > header h2, .node-wrapper > header h2, .static.sidebar > header h2 {
  text-transform: uppercase;
}
/* line 123, sass/screen.scss */
.column-wrapper .read-more, .news .read-more, .submissions.sidebar .read-more, .submissions.main .read-more,
.program .read-more, .submit-idea .read-more, .create-profile .read-more, .learn .read-more, .learn-more .read-more, .what-is-hapi .read-more, .program-structure .read-more, .who-is .read-more, .contact-form .read-more, .direct-contact .read-more, .idea .read-more, .idea-comments .read-more, .references .read-more, .users .read-more, .nodes .read-more, .categories .read-more, .node-wrapper .read-more, .static.sidebar .read-more {
  float: right;
  line-height: 2em;
  margin-right: .5em;
}
/* line 127, sass/screen.scss */
.column-wrapper .read-more a, .news .read-more a, .submissions.sidebar .read-more a, .submissions.main .read-more a,
.program .read-more a, .submit-idea .read-more a, .create-profile .read-more a, .learn .read-more a, .learn-more .read-more a, .what-is-hapi .read-more a, .program-structure .read-more a, .who-is .read-more a, .contact-form .read-more a, .direct-contact .read-more a, .idea .read-more a, .idea-comments .read-more a, .references .read-more a, .users .read-more a, .nodes .read-more a, .categories .read-more a, .node-wrapper .read-more a, .static.sidebar .read-more a {
  padding-left: 2em;
  background: url(../img/sprites/read_more.png) no-repeat left center transparent;
}

/* line 135, sass/screen.scss */
.horizontal-ul li, .submissions ul.submission-sort li, .learn header ul li {
  display: inline-block;
  padding: 0 .5em;
}

/* Could change depending on success or failure */
/* line 142, sass/screen.scss */
#flashMessage {
  padding: 1em;
  margin-bottom: 1em;
}
/* line 145, sass/screen.scss */
#flashMessage.message, #flashMessage.success {
  background-color: #c2ebaa;
}

/* -------------------------------------------------------------------------
   Basic Defaults & Overrides */
/* line 154, sass/screen.scss */
html, body {
  font-family: "PT Sans", "Myriad Pro", sans-serif;
  color: #222222;
}

/* line 159, sass/screen.scss */
ul {
  list-style: none;
  list-style-image: none;
  padding: 0;
}

/* line 165, sass/screen.scss */
label, legend {
  font-weight: bold;
}

/* line 169, sass/screen.scss */
label, input, textarea, legend {
  display: block;
  font-family: "PT Sans", "Myriad Pro", sans-serif;
}

/* line 174, sass/screen.scss */
input[type="radio"] {
  float: left;
  margin: 2px .5em 0;
}
/* line 177, sass/screen.scss */
input[type="radio"] + label {
  float: left;
  margin-right: 1.5em;
}

/* line 183, sass/screen.scss */
select {
  margin-bottom: 1em;
}

/* line 187, sass/screen.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  box-shadow: inset 1px 1px 1px #ccc;
  margin: .25em 0 1em;
  padding: 5px 7px;
  border: 1px solid #aaa;
  min-width: 22em;
}

/* line 195, sass/screen.scss */
input[type='submit'] {
  margin: 1em 0;
}

/* line 200, sass/screen.scss */
p {
  margin: 1em 0 .5em;
}

/* line 204, sass/screen.scss */
time {
  color: #21a4b6;
  font-weight: bold;
}

/* line 209, sass/screen.scss */
a {
  color: #21a4b6;
  text-decoration: none;
  /* Buttons */
}
/* line 212, sass/screen.scss */
a:hover {
  color: #115660;
  text-decoration: underline;
}
/* line 216, sass/screen.scss */
a:visited {
  color: #21a4b6;
}

/* Vote Buttons */
/* line 227, sass/screen.scss */
.votes {
  min-height: 82px;
  text-align: center;
}
/* line 230, sass/screen.scss */
.votes a {
  display: block;
  width: 38px;
  height: 45px;
  line-height: 38px;
  color: white;
  padding: .25em .5em;
  margin: 3px;
}
/* line 238, sass/screen.scss */
.votes a:hover {
  text-decoration: none;
}
/* line 241, sass/screen.scss */
.votes a.up {
  background: url(../img/sprites/vote_up_wide_blue.png) no-repeat center top transparent;
}
/* line 243, sass/screen.scss */
.votes a.up:hover {
  background: url(../img/sprites/vote_up_wide_darkgrey.png) no-repeat center top transparent;
}
/* line 246, sass/screen.scss */
.votes a.up.voted {
  background: url(../img/sprites/vote_up_wide_white.png) no-repeat center top transparent;
}
/* line 250, sass/screen.scss */
.votes a.down {
  background: url(../img/sprites/vote_down_wide_blue.png) no-repeat center bottom transparent;
  margin-top: -25px;
  line-height: 51px;
}
/* line 254, sass/screen.scss */
.votes a.down:hover {
  background: url(../img/sprites/vote_down_wide_darkgrey.png) no-repeat center bottom transparent;
}
/* line 257, sass/screen.scss */
.votes a.down.voted {
  background: url(../img/sprites/vote_down_wide_white.png) no-repeat center bottom transparent;
}
/* line 262, sass/screen.scss */
.votes a.voted {
  color: #21a4b6;
  cursor: default;
}

/* line 272, sass/screen.scss */
section header .votes .up {
  background: url(../img/sprites/vote_up_wide_grey.png) no-repeat center top transparent;
}
/* line 275, sass/screen.scss */
section header .votes .down {
  background: url(../img/sprites/vote_down_wide_grey.png) no-repeat center bottom transparent;
}

/* -------------------------------------------------------------------------
   Main Content Sections */
/* line 286, sass/screen.scss */
.faq-tab {
  position: fixed;
  top: 30%;
  left: 0;
  background-color: #21a4b6;
}
/* line 291, sass/screen.scss */
.faq-tab a {
  color: white;
  display: inline-block;
  padding: .5em;
}

/* Live within 12-column grid */
/* line 299, sass/screen.scss */
.content {
  /* Main Header */
}
/* line 307, sass/screen.scss */
.content header.global {
  /* Not supported by IE */
}
/* line 308, sass/screen.scss */
.content header.global h1 a {
  display: block;
  background-position: 0 0;
  height: 73px;
  width: 318px;
  background-image: url(../img/sprites/logo.png);
}
/* line 314, sass/screen.scss */
.content header.global a.button {
  float: right;
  background: url(../img/concrete_bg.jpg) no-repeat center top #21a4b6;
  font-size: 1.125em;
  line-height: 1.27778em;
}
/* line 320, sass/screen.scss */
.content header.global nav li.sub {
  float: right;
  padding: 0;
  font-size: 1em;
}
/* line 326, sass/screen.scss */
.content header.global li {
  display: inline-block;
  padding: 0 1em 0 0;
  font-size: 20.8px;
}
/* line 330, sass/screen.scss */
.content header.global li a {
  color: black;
  text-decoration: none;
}
/* line 333, sass/screen.scss */
.content header.global li a span {
  font-weight: normal;
}
/* line 336, sass/screen.scss */
.content header.global li a:hover {
  color: #21a4b6;
}
/* line 342, sass/screen.scss */
.content header.global li:not(.sub) a {
  font-weight: bold;
}

/* -------------------------------------------------------------------------
   Universal Article Elements */
/* line 352, sass/screen.scss */
article header {
  overflow: hidden;
  *zoom: 1;
}
/* line 355, sass/screen.scss */
article h1 {
  font-size: 1.17em;
  margin: 0.85em 0 0;
  font-weight: bold;
}
/* line 357, sass/screen.scss */
article h1 a {
  color: black;
  text-decoration: none;
}
/* line 360, sass/screen.scss */
article h1 a:visited {
  color: black;
}
/* line 366, sass/screen.scss */
article aside a {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin: 0 .5em 0 0;
}
/* line 374, sass/screen.scss */
article .share_comment {
  background: url(../img/sprites/share_comment_blue.png) no-repeat center 2px transparent;
}
/* line 376, sass/screen.scss */
article .share_comment:hover {
  background: url(../img/sprites/share_comment_grey.png) no-repeat center 2px transparent;
}
/* line 380, sass/screen.scss */
article .share_fb {
  background: url(../img/sprites/share_fb_blue.png) no-repeat center top transparent;
}
/* line 382, sass/screen.scss */
article .share_fb:hover {
  background: url(../img/sprites/share_fb_grey.png) no-repeat center top transparent;
}

/* -------------------------------------------------------------------------
   Column Setups */
/* Home */
/* line 393, sass/screen.scss */
.news {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 396, sass/screen.scss */
.submissions.sidebar {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Engage */
/* line 401, sass/screen.scss */
.submissions.header {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 405, sass/screen.scss */
.submissions.main {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 408, sass/screen.scss */
.program {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Submit */
/* line 413, sass/screen.scss */
.submit-idea, .create-profile {
  width: 940px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Learn */
/* line 418, sass/screen.scss */
.learn {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 421, sass/screen.scss */
.learn-more {
  width: 220px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* About */
/*.what-is-hapi, .program-structure {
  @include span-columns(8,12);
}*/
/* line 429, sass/screen.scss */
.who-is {
  width: 300px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Contact */
/* line 434, sass/screen.scss */
.contact-form {
  width: 620px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 437, sass/screen.scss */
.direct-contact {
  width: 300px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Idea Page, View & Edit */
/* line 442, sass/screen.scss */
.idea {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 446, sass/screen.scss */
.idea-comments {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 450, sass/screen.scss */
.references {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Login, Profile */
/* line 455, sass/screen.scss */
.users {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* Register */
/* line 460, sass/screen.scss */
.what-is-hapi.sidebar {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Posts (Croogo Nodes) Index Page */
/* line 466, sass/screen.scss */
.nodes {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 470, sass/screen.scss */
.categories {
  width: 220px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Post (Croogo Node) View Page */
/* line 476, sass/screen.scss */
.node-wrapper {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 480, sass/screen.scss */
.node-comments {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 484, sass/screen.scss */
.node-wrapper.static {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 488, sass/screen.scss */
.static.sidebar {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Full-width miscellaneous text between main content and footer */
/* line 494, sass/screen.scss */
aside.miscellaneous {
  width: 940px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  clear: both;
}

/* line 499, sass/screen.scss */
div.main {
  clear: both;
  /* Main Content Aside */
}
/* line 503, sass/screen.scss */
div.main > aside h3 {
  text-align: center;
}

/* Home elements */
/* line 511, sass/screen.scss */
.slideshow {
  position: relative;
  height: 200px;
}
/* line 514, sass/screen.scss */
.slideshow ul.slides {
  z-index: 1;
}
/* line 516, sass/screen.scss */
.slideshow ul.slides li {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 520, sass/screen.scss */
.slideshow ul.slides li:nth-child(1) {
  z-index: 1;
}
/* line 523, sass/screen.scss */
.slideshow ul.slides li.selected {
  z-index: 2;
  pointer-events: auto;
}
/* line 529, sass/screen.scss */
.slideshow ul.toggles {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 1em;
}
/* line 534, sass/screen.scss */
.slideshow ul.toggles li {
  width: 30px;
  height: 30px;
  float: left;
  background: url(../img/sprites/toggle.png) no-repeat left top transparent;
  z-index: 10;
  cursor: pointer;
  color: white;
}

/* line 550, sass/screen.scss */
.news article {
  width: 540px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 552, sass/screen.scss */
.news article .image {
  width: 140px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 555, sass/screen.scss */
.news article .content {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  font-size: 0.875em;
  line-height: 1.64286em;
}
/* line 558, sass/screen.scss */
.news article .content p {
  margin-top: 0;
}
/* line 562, sass/screen.scss */
.news article img {
  margin: 1.5em 0 1.5em 1em;
}
/* line 565, sass/screen.scss */
.news article p {
  float: left;
}
/* line 570, sass/screen.scss */
.news article time {
  padding: 0 .5em 0 0;
}

/* line 577, sass/screen.scss */
.submissions.sidebar .votes {
  width: 60px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 579, sass/screen.scss */
.submissions.sidebar .votes ~ div {
  width: 300px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 581, sass/screen.scss */
.submissions.sidebar .votes ~ div p, .submissions.sidebar .votes ~ div aside {
  margin: 1em;
}

/* Engage elements - fixed height, unfortunately */
/* line 593, sass/screen.scss */
.submissions.main div.fixed-height,
.program div.fixed-height {
  height: 920px;
  overflow: scroll;
}

/* Homepage Submissions */
/* line 607, sass/screen.scss */
.submissions {
  /* Individual Submissions */
  /* Wider submissions */
}
/* line 608, sass/screen.scss */
.submissions ul.submission-sort {
  float: right;
}
/* line 611, sass/screen.scss */
.submissions ul.submission-sort a {
  color: white;
}
/* line 617, sass/screen.scss */
.submissions article {
  overflow: hidden;
  *zoom: 1;
}
/* line 619, sass/screen.scss */
.submissions article h1 {
  float: left;
}
/* line 625, sass/screen.scss */
.submissions article time {
  padding: 0 0 0 .5em;
}
/* line 633, sass/screen.scss */
.submissions.main .votes {
  width: 60px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 636, sass/screen.scss */
.submissions.main p.description {
  width: 380px;
  float: left;
  margin-right: 20px;
  display: inline;
  margin-top: 0;
}
/* line 640, sass/screen.scss */
.submissions.main aside {
  width: 60px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* -------------------------------------------------------------------------
   Submit Idea & Create Profile Form & Page */
/* line 657, sass/screen.scss */
.create-profile fieldset {
  margin-top: 1em;
  width: 460px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/susy-1.0.9/sass/susy/_grid.scss */
.create-profile fieldset:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 661, sass/screen.scss */
.create-profile fieldset label, .create-profile fieldset input {
  margin-left: 1em;
  margin-right: 1em;
}

/* -------------------------------------------------------------------------
   Learn Page */
/* line 678, sass/screen.scss */
.learn header ul {
  float: right;
}

/* -------------------------------------------------------------------------
   About Page */
/* line 696, sass/screen.scss */
.what-is-hapi h3, .what-is-hapi p, .program-structure h3, .program-structure p, .who-is h3, .who-is p {
  margin-left: 1em;
  margin-right: 1em;
}

/* -------------------------------------------------------------------------
   Contact Page */
/* -------------------------------------------------------------------------
   Idea Page */
/* line 713, sass/screen.scss */
.idea .votes {
  float: right;
}

/* -------------------------------------------------------------------------
   Edit Idea Page */
/* line 727, sass/screen.scss */
.idea.edit input[type="text"], .idea.edit input[type="password"], .idea.edit input[type="email"], .idea.edit textarea {
  min-width: 30em;
  max-width: 500px;
}

/* -------------------------------------------------------------------------
   Login Page */
/* -------------------------------------------------------------------------
   Profile Page */
/* -------------------------------------------------------------------------
  Posts (Croogo Nodes) Index Page */
/* line 759, sass/screen.scss */
.nodes .node:nth-child(n+3) {
  border-top: 1px solid #21a4b6;
  margin-top: 2em;
  padding-top: 1em;
}
/* line 765, sass/screen.scss */
.nodes .node h2 a {
  color: black;
}

/* Post (Croogo Node) View Page */
/* line 780, sass/screen.scss */
.node-wrapper .node header {
  color: white;
  background: #21a4b6;
  overflow: hidden;
  *zoom: 1;
}
/* line 75, sass/screen.scss */
.node-wrapper .node header a {
  color: white;
}
/* line 78, sass/screen.scss */
.node-wrapper .node header h2 {
  text-transform: uppercase;
}

/* 'Static' Pages - Pages w Custom Sidebar blocks */
/* -------------------------------------------------------------------------
   Full width 'About YUNUS/UNDP' Bar (breaks out of grid) */
/* line 801, sass/screen.scss */
div.organization-info {
  background-color: #d4edf1;
  color: #222222;
  margin-bottom: -1em;
  padding-bottom: 1em;
}
/* line 808, sass/screen.scss */
div.organization-info div section {
  width: 460px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/susy-1.0.9/sass/susy/_grid.scss */
div.organization-info div section:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 813, sass/screen.scss */
div.organization-info h1 {
  font-size: 1.17em;
  margin: 0.85em 0 0;
  font-weight: bold;
  text-align: center;
}

/* -------------------------------------------------------------------------
   Full width 'People' Bar (breaks out of grid) */
/* line 823, sass/screen.scss */
section.people {
  background: url(../img/suede_bg.png) repeat-x center top #21a4b6;
  color: white;
}
/* line 826, sass/screen.scss */
section.people ul {
  margin-bottom: 0;
}
/* line 829, sass/screen.scss */
section.people ul li {
  width: 300px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/susy-1.0.9/sass/susy/_grid.scss */
section.people ul li:nth-child(3n) {
  float: right;
  margin-right: 0;
}
/* line 834, sass/screen.scss */
section.people img {
  float: left;
  margin: 1em 1em 1em 0;
}

/* -------------------------------------------------------------------------
   Footer */
/* line 847, sass/screen.scss */
.content > footer {
  background: url(../img/concrete_bg.jpg) repeat-x center top #21a4b6;
  color: white;
}
/* line 850, sass/screen.scss */
.content > footer a {
  color: white;
}
/* line 853, sass/screen.scss */
.content > footer h3 {
  text-transform: uppercase;
}
/* line 856, sass/screen.scss */
.content > footer .sitemap {
  width: 620px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 858, sass/screen.scss */
.content > footer .sitemap ul {
  float: left;
  width: 140px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 863, sass/screen.scss */
.content > footer .social {
  width: 300px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  text-align: right;
}
/* line 866, sass/screen.scss */
.content > footer .social li a {
  display: block;
  float: right;
  margin: 0 0 0 1em;
}
/* line 871, sass/screen.scss */
.content > footer .social li a.fb {
  background-position: 0 -1737px;
  height: 60px;
  width: 60px;
}
/* line 874, sass/screen.scss */
.content > footer .social li a.rss {
  background-position: 0 -93px;
  height: 60px;
  width: 60px;
}
/* line 877, sass/screen.scss */
.content > footer .social li a.google {
  background-position: 0 -173px;
  height: 60px;
  width: 60px;
}
/* line 882, sass/screen.scss */
.content > footer ul {
  margin: 0;
}
/* line 885, sass/screen.scss */
.content > footer p {
  width: 940px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  text-align: center;
  margin: 2em 0;
}

/* -------------------------------------------------------------------------
   Modal */
/* line 895, sass/screen.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
/* line 907, sass/screen.scss */
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
/* line 912, sass/screen.scss */
.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
/* line 920, sass/screen.scss */
.modal .modal-close {
  color: black;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 5px;
  font-size: 2em;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
}
/* line 930, sass/screen.scss */
.modal .modal-close:hover {
  color: #21a4b6;
}
