/* -------------------------------------------------------------------------
   Imports */
/* Vars */
/* line 61, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.4375em;
}

/* A Fluid Grid based on 960gs */
/* Legacy Support */
/* Not Fluid */
/* Sprite */
/* sdknf */
/* line 274, sprites/*.png */
.sprites-sprite, .column-wrapper .read-more a, .news .read-more a, .submissions.sidebar .read-more a, .submissions.main .read-more a,
.program .read-more a, .submit-idea .read-more a, .create-profile .read-more a, .learn .read-more a, .learn-more .read-more a, .what-is-hapi .read-more a, .program-structure .read-more a, .who-is .read-more a, .contact-wrapper .read-more a, .direct-contact .read-more a, .idea .read-more a, .idea-comments .read-more a, .references .read-more a, .users .read-more a, .nodes .read-more a, .categories .read-more a, .node-wrapper .read-more a, .node-comments .read-more a, .static.sidebar .read-more a, .votes a.up, .votes a.up:hover, .votes a.up.voted, .votes a.down, .votes a.down:hover, .votes a.down.voted, section header .votes .up, section header .votes .down, .content header.global h1 a, article .share_comment, article .share_comment:hover, article .share_fb, article .share_fb:hover, .slideshow ul.toggles li, .submissions ul.submission-sort a.desc, .submissions ul.submission-sort a.asc, .content > footer .social li a.fb, .content > footer .social li a.rss, .content > footer .social li a.google {
  background: url('../img/sprites-s49c33fc0fc.png') no-repeat;
}

/* -------------------------------------------------------------------------
   Layout */
/* line 63, sass/screen.scss */
.container, .content header.global, .content > div.main, .content > footer > div, div.organization-info > div, section.mentors ul {
  *zoom: 1;
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, .content header.global:after, .content > div.main:after, .content > footer > div:after, div.organization-info > div:after, section.mentors ul:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------
   Extensions : Individual Section Blocks */
/* line 90, sass/screen.scss */
.inline-padding, .column-wrapper > header, .news > header, .submissions.sidebar > header, .submissions.main > header,
.program > header, .submit-idea > header, .create-profile > header, .learn > header, .learn-more > header, .what-is-hapi > header, .program-structure > header, .who-is > header, .contact-wrapper > header, .direct-contact > header, .idea > header, .idea-comments > header, .references > header, .users > header, .nodes > header, .categories > header, .node-wrapper > header, .node-comments > header, .static.sidebar > header, .program h3, .program .block-body, .submissions article header, .create-profile form p, .learn-more ul, .node-wrapper .node header {
  padding: 0 16px;
}

/* line 94, sass/screen.scss */
.full-spacing, .column-wrapper > .inner, .news > .inner, .submissions.sidebar > .inner, .submissions.main > .inner,
.program > .inner, .submit-idea > .inner, .create-profile > .inner, .learn > .inner, .learn-more > .inner, .what-is-hapi > .inner, .program-structure > .inner, .who-is > .inner, .contact-wrapper > .inner, .direct-contact > .inner, .idea > .inner, .idea-comments > .inner, .references > .inner, .users > .inner, .nodes > .inner, .categories > .inner, .node-wrapper > .inner, .node-comments > .inner, .static.sidebar > .inner, .pagination, .users > div, .nodes .node, .node-wrapper header + div {
  margin: 1em;
}

/* line 98, sass/screen.scss */
.hidden-text, .content header.global h1 a, article aside a, .slideshow ul.toggles li, .content > footer .social li a {
  text-indent: 9999px;
  overflow: hidden;
}

/* line 103, sass/screen.scss */
.accent-text {
  color: #21a4b6;
  font-weight: bold;
}

/* line 108, sass/screen.scss */
.action-button, a.button, input[type='submit'] {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: .5em 1em;
  background-color: #21a4b6;
  color: white;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 119, sass/screen.scss */
.action-button:hover, a.button:hover, input[type='submit']:hover {
  background-color: #222222;
  color: white;
  text-decoration: none;
}
/* line 124, sass/screen.scss */
.action-button:visited, a.button:visited, input[type='submit']:visited {
  color: white;
}

/* line 129, sass/screen.scss */
.column-wrapper, .news, .submissions.sidebar, .submissions.main,
.program, .submit-idea, .create-profile, .learn, .learn-more, .what-is-hapi, .program-structure, .who-is, .contact-wrapper, .direct-contact, .idea, .idea-comments, .references, .users, .nodes, .categories, .node-wrapper, .node-comments, .static.sidebar {
  background: #d4edf1;
  color: #222222;
  margin-bottom: 1em;
}
/* line 133, sass/screen.scss */
.column-wrapper > header, .news > header, .submissions.sidebar > header, .submissions.main > header,
.program > header, .submit-idea > header, .create-profile > header, .learn > header, .learn-more > header, .what-is-hapi > header, .program-structure > header, .who-is > header, .contact-wrapper > header, .direct-contact > header, .idea > header, .idea-comments > header, .references > header, .users > header, .nodes > header, .categories > header, .node-wrapper > header, .node-comments > header, .static.sidebar > header {
  color: white;
  background: #21a4b6;
  overflow: hidden;
  *zoom: 1;
}
/* line 82, sass/screen.scss */
.column-wrapper > header a, .news > header a, .submissions.sidebar > header a, .submissions.main > header a,
.program > header a, .submit-idea > header a, .create-profile > header a, .learn > header a, .learn-more > header a, .what-is-hapi > header a, .program-structure > header a, .who-is > header a, .contact-wrapper > header a, .direct-contact > header a, .idea > header a, .idea-comments > header a, .references > header a, .users > header a, .nodes > header a, .categories > header a, .node-wrapper > header a, .node-comments > header a, .static.sidebar > header a {
  color: white;
}
/* line 85, sass/screen.scss */
.column-wrapper > header h2, .news > header h2, .submissions.sidebar > header h2, .submissions.main > header h2,
.program > header h2, .submit-idea > header h2, .create-profile > header h2, .learn > header h2, .learn-more > header h2, .what-is-hapi > header h2, .program-structure > header h2, .who-is > header h2, .contact-wrapper > header h2, .direct-contact > header h2, .idea > header h2, .idea-comments > header h2, .references > header h2, .users > header h2, .nodes > header h2, .categories > header h2, .node-wrapper > header h2, .node-comments > header h2, .static.sidebar > header h2 {
  text-transform: uppercase;
}
/* line 139, sass/screen.scss */
.column-wrapper .read-more, .news .read-more, .submissions.sidebar .read-more, .submissions.main .read-more,
.program .read-more, .submit-idea .read-more, .create-profile .read-more, .learn .read-more, .learn-more .read-more, .what-is-hapi .read-more, .program-structure .read-more, .who-is .read-more, .contact-wrapper .read-more, .direct-contact .read-more, .idea .read-more, .idea-comments .read-more, .references .read-more, .users .read-more, .nodes .read-more, .categories .read-more, .node-wrapper .read-more, .node-comments .read-more, .static.sidebar .read-more {
  float: right;
  line-height: 2em;
  margin-right: .5em;
}
/* line 143, sass/screen.scss */
.column-wrapper .read-more a, .news .read-more a, .submissions.sidebar .read-more a, .submissions.main .read-more a,
.program .read-more a, .submit-idea .read-more a, .create-profile .read-more a, .learn .read-more a, .learn-more .read-more a, .what-is-hapi .read-more a, .program-structure .read-more a, .who-is .read-more a, .contact-wrapper .read-more a, .direct-contact .read-more a, .idea .read-more a, .idea-comments .read-more a, .references .read-more a, .users .read-more a, .nodes .read-more a, .categories .read-more a, .node-wrapper .read-more a, .node-comments .read-more a, .static.sidebar .read-more a {
  padding-left: 2em;
  background-position: 0 -1344px;
  height: 8px;
  width: 24px;
}

/* line 151, sass/screen.scss */
.horizontal-ul li, .submissions ul.submission-sort li, .learn header ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 .5em;
}

/* line 159, sass/screen.scss */
.header-block {
  margin-bottom: 1.5em;
}

/* line 163, sass/screen.scss */
span.emphasis {
  color: #21a4b6;
  font-weight: bold;
}

/* Could change depending on success or failure */
/*#flashMessage {
  padding: 1em;
  margin-bottom: 1em;
  &.message, &.success {
    background-color: #c2ebaa;
  }
}*/
/* -------------------------------------------------------------------------
   Basic Defaults & Overrides */
/* line 181, sass/screen.scss */
html, body {
  font-family: "PT Sans", "Myriad Pro", sans-serif;
  color: #222222;
}

/* line 186, sass/screen.scss */
h3 {
  margin: 1.5em 0 .7em;
}

/* line 190, sass/screen.scss */
ul {
  list-style: none;
  list-style-image: none;
  padding: 0;
}

/* line 196, sass/screen.scss */
p {
  margin: 1em 0 .5em;
}

/* line 200, sass/screen.scss */
time {
  color: #21a4b6;
  font-weight: bold;
}

/* line 205, sass/screen.scss */
a {
  color: #21a4b6;
  text-decoration: none;
  /* Buttons */
}
/* line 208, sass/screen.scss */
a:hover {
  color: #115660;
  text-decoration: underline;
}
/* line 212, sass/screen.scss */
a:visited {
  color: #21a4b6;
}

/* Forms */
/* line 225, sass/screen.scss */
label {
  font-weight: bold;
}

/* line 229, sass/screen.scss */
label, input, textarea {
  display: block;
  font-family: "PT Sans", "Myriad Pro", sans-serif;
}

/* line 234, sass/screen.scss */
input[type="checkbox"] {
  float: left;
  margin: 3px .5em 0;
}
/* line 237, sass/screen.scss */
input[type="checkbox"] + label {
  margin-right: 1.5em;
}

/* line 242, sass/screen.scss */
select {
  margin-bottom: 1em;
}

/* line 246, sass/screen.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  box-shadow: inset 1px 1px 1px #ccc;
  margin: .25em 0 1em;
  padding: 5px 7px;
  border: 1px solid #aaa;
  min-width: 22em;
}

/* line 254, sass/screen.scss */
input[type='submit'] {
  margin: 1em 0;
}

/* line 259, sass/screen.scss */
div.input.checkbox {
  margin-bottom: 1em;
}

/* line 263, sass/screen.scss */
.form-help {
  float: right;
  margin-right: 1em;
  cursor: pointer;
  position: relative;
}
/* line 268, sass/screen.scss */
.form-help a:hover {
  text-decoration: none;
}
/* line 271, sass/screen.scss */
.form-help div {
  display: none;
  position: absolute;
  width: 250px;
  top: -0.3em;
  left: 4em;
  padding: .5em;
  background: #f9f9f9;
}
/* line 279, sass/screen.scss */
.form-help div.show {
  display: block;
}

/* Submissions Pagination */
/* line 286, sass/screen.scss */
.pagination {
  border-top: 1px solid #21a4b6;
  padding-top: 1em;
}
/* line 290, sass/screen.scss */
.pagination .next {
  float: right;
}

/* Vote Buttons */
/* line 297, sass/screen.scss */
.votes {
  min-height: 82px;
  text-align: center;
}
/* line 300, sass/screen.scss */
.votes a {
  display: block;
  width: 38px;
  height: 45px !important;
  line-height: 38px;
  color: white;
  padding: .25em .5em;
  margin: 3px;
}
/* line 308, sass/screen.scss */
.votes a:hover {
  text-decoration: none;
}
/* line 311, sass/screen.scss */
.votes a.up {
  background-position: 8px -791px;
  height: 82px;
  width: 38px;
}
/* line 313, sass/screen.scss */
.votes a.up:hover {
  background-position: 8px -1097px;
  height: 82px;
  width: 38px;
}
/* line 316, sass/screen.scss */
.votes a.up.voted {
  background-position: 8px -689px;
  height: 82px;
  width: 38px;
}
/* line 320, sass/screen.scss */
.votes a.down {
  background-position: 8px -1024px;
  height: 82px;
  width: 38px;
  margin-top: -25px;
  line-height: 51px;
}
/* line 324, sass/screen.scss */
.votes a.down:hover {
  background-position: 8px -922px;
  height: 82px;
  width: 38px;
}
/* line 327, sass/screen.scss */
.votes a.down.voted {
  background-position: 8px -332px;
  height: 82px;
  width: 38px;
}
/* line 332, sass/screen.scss */
.votes a.voted {
  color: #21a4b6;
  cursor: default;
}

/* line 342, sass/screen.scss */
section header .votes .up {
  background-position: 8px -587px;
  height: 82px;
  width: 38px;
}
/* line 345, sass/screen.scss */
section header .votes .down {
  background-position: 8px -434px;
  height: 82px;
  width: 38px;
}

/* -------------------------------------------------------------------------
   Main Content Sections */
/* line 356, sass/screen.scss */
.faq-tab {
  position: fixed;
  top: 30%;
  left: 0;
  background-color: #21a4b6;
  /* Rotation */
  left: -1.2em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 361, sass/screen.scss */
.faq-tab a {
  color: white;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: .5em;
}
/* line 372, sass/screen.scss */
.faq-tab a {
  padding: .5em 1em;
  font-size: 1.25em;
  line-height: 2.3em;
  line-height: 1em;
}

/* Live within 12-column grid */
/* line 380, sass/screen.scss */
.content {
  /* Main Header */
}
/* line 388, sass/screen.scss */
.content header.global {
  /* Not supported by IE */
}
/* line 389, sass/screen.scss */
.content header.global h1 a {
  display: block;
  background-position: 0 0;
  height: 73px;
  width: 318px;
}
/* line 394, sass/screen.scss */
.content header.global a.button {
  float: right;
  background: url(../img/concrete_bg.jpg) no-repeat center top #21a4b6;
  font-size: 1.125em;
  line-height: 1.27778em;
}
/* line 400, sass/screen.scss */
.content header.global nav ul {
  margin-top: 2.5em;
  margin-bottom: 1em;
}
/* line 404, sass/screen.scss */
.content header.global nav li.sub {
  float: right;
  padding: 0;
  font-size: 1em;
}
/* line 408, sass/screen.scss */
.content header.global nav li.sub a {
  padding-bottom: 3px;
}
/* line 414, sass/screen.scss */
.content header.global li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 2.5em 0 0;
  font-size: 24px;
}
/* line 420, sass/screen.scss */
.content header.global li a {
  color: black;
  text-decoration: none;
}
/* line 423, sass/screen.scss */
.content header.global li a span {
  font-weight: normal;
}
/* line 429, sass/screen.scss */
.content header.global .main-toggles a.active {
  color: #21a4b6;
  cursor: default;
}
/* line 432, sass/screen.scss */
.content header.global .main-toggles a.active:hover {
  border-bottom-width: 0;
  margin-bottom: 0;
}
/* line 437, sass/screen.scss */
.content header.global .main-toggles a:hover {
  border-bottom: 2px solid #222222;
  margin-bottom: -2px;
}
/* line 444, sass/screen.scss */
.content header.global li:not(.sub) a {
  font-weight: bold;
}

/* -------------------------------------------------------------------------
   Universal Article Elements */
/* line 455, sass/screen.scss */
article header {
  overflow: hidden;
  *zoom: 1;
}
/* line 458, sass/screen.scss */
article h1 {
  font-size: 1.17em;
  margin: 0.85em 0 0;
  font-weight: bold;
}
/* line 460, sass/screen.scss */
article h1 a {
  color: black;
  text-decoration: none;
}
/* line 463, sass/screen.scss */
article h1 a:visited {
  color: black;
}
/* line 469, sass/screen.scss */
article aside a {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 26px;
  height: 28px;
  margin: 0 .5em 0 0;
}
/* line 479, sass/screen.scss */
article .share_comment {
  background-position: 0 -1249px;
  height: 30px;
  width: 30px;
}
/* line 481, sass/screen.scss */
article .share_comment:hover {
  background-position: 0 -1513px;
  height: 30px;
  width: 30px;
}
/* line 485, sass/screen.scss */
article .share_fb {
  background-position: 0 -253px;
  height: 30px;
  width: 30px;
}
/* line 487, sass/screen.scss */
article .share_fb:hover {
  background-position: 0 -1299px;
  height: 30px;
  width: 30px;
}

/* -------------------------------------------------------------------------
   Column Setups */
/* Home */
/* line 498, sass/screen.scss */
.news {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 501, sass/screen.scss */
.submissions.sidebar {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Engage */
/* line 506, sass/screen.scss */
.submissions.header {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 510, sass/screen.scss */
.submissions.main {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 513, sass/screen.scss */
.program {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Submit */
/* line 518, sass/screen.scss */
.submit-idea, .create-profile {
  width: 940px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Learn */
/* line 523, sass/screen.scss */
.learn {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 526, sass/screen.scss */
.learn-more {
  width: 220px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* About */
/*.what-is-hapi, .program-structure {
  @include span-columns(8,12);
}*/
/* line 534, sass/screen.scss */
.who-is {
  width: 300px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Contact */
/* line 539, sass/screen.scss */
.contact-wrapper {
  width: 620px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 542, sass/screen.scss */
.direct-contact {
  width: 300px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Idea Page, View & Edit */
/* line 547, sass/screen.scss */
.idea {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 551, sass/screen.scss */
.idea-comments {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 555, sass/screen.scss */
.references {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Login, Profile */
/* line 560, sass/screen.scss */
.users {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* Register */
/* line 565, sass/screen.scss */
.what-is-hapi.sidebar {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Posts (Croogo Nodes) Index Page */
/* line 571, sass/screen.scss */
.nodes {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 575, sass/screen.scss */
.categories {
  width: 220px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Post (Croogo Node) View Page */
/* line 581, sass/screen.scss */
.node-wrapper {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 585, sass/screen.scss */
.node-comments {
  width: 700px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 589, sass/screen.scss */
.node-wrapper.static {
  width: 540px;
  float: left;
  margin-right: 20px;
  display: inline;
}

/* line 593, sass/screen.scss */
.static.sidebar {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* Full-width miscellaneous text between main content and footer */
/* line 599, sass/screen.scss */
aside.miscellaneous {
  width: 940px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  clear: both;
  margin-bottom: 1.5em;
}
/* line 603, sass/screen.scss */
aside.miscellaneous h3 {
  font-size: 1.5em;
  line-height: 1.91667em;
  text-align: center;
  margin-top: 1em;
}
/* line 608, sass/screen.scss */
aside.miscellaneous h4 {
  font-size: 1.375em;
  line-height: 2.09091em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 500;
}
/* line 613, sass/screen.scss */
aside.miscellaneous h4 span {
  font-style: italic;
}

/* line 619, sass/screen.scss */
div.main {
  clear: both;
  /* Main Content Aside */
}
/* line 623, sass/screen.scss */
div.main > aside h3 {
  text-align: center;
}

/* Home elements */
/* line 631, sass/screen.scss */
.slideshow {
  position: relative;
  height: 200px;
}
/* line 634, sass/screen.scss */
.slideshow ul.slides {
  z-index: 1;
  margin: 0;
}
/* line 637, sass/screen.scss */
.slideshow ul.slides li {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 641, sass/screen.scss */
.slideshow ul.slides li:nth-child(1) {
  z-index: 1;
}
/* line 644, sass/screen.scss */
.slideshow ul.slides li.selected {
  z-index: 2;
  pointer-events: auto;
}
/* line 650, sass/screen.scss */
.slideshow ul.toggles {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 1em;
}
/* line 655, sass/screen.scss */
.slideshow ul.toggles li {
  float: left;
  background-position: 0 -1199px;
  height: 30px;
  width: 30px;
  z-index: 10;
  cursor: pointer;
  color: white;
}

/* line 667, sass/screen.scss */
.news,
.submissions.sidebar.homepage {
  min-height: 900px;
  padding-bottom: 1em;
}

/* line 674, sass/screen.scss */
.news article {
  width: 540px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 676, sass/screen.scss */
.news article .image {
  padding-left: 16px;
  padding-right: 0px;
  width: 124px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 679, sass/screen.scss */
.news article header {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 682, sass/screen.scss */
.news article .content {
  width: 380px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  font-size: 0.875em;
  line-height: 1.64286em;
}
/* line 685, sass/screen.scss */
.news article .content p {
  margin-top: 0;
}
/* line 689, sass/screen.scss */
.news article img {
  margin: 1.25em 0;
  max-width: 100%;
}
/* line 693, sass/screen.scss */
.news article p {
  float: left;
}
/* line 698, sass/screen.scss */
.news article time {
  padding: 0 .5em 0 0;
}

/* line 705, sass/screen.scss */
.submissions.sidebar .votes {
  width: 60px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 707, sass/screen.scss */
.submissions.sidebar .votes ~ div {
  width: 300px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 709, sass/screen.scss */
.submissions.sidebar .votes ~ div p, .submissions.sidebar .votes ~ div aside {
  margin: 1em;
}

/* Engage elements - fixed height, unfortunately */
/* line 721, sass/screen.scss */
.submissions.main div.fixed-height,
.program div.fixed-height {
  height: 920px;
  overflow: scroll;
}

/* Homepage Submissions */
/* line 735, sass/screen.scss */
.submissions {
  /* Individual Submissions */
  /* Wider submissions */
}
/* line 736, sass/screen.scss */
.submissions ul.submission-sort {
  float: right;
  padding-top: 5px;
}
/* line 740, sass/screen.scss */
.submissions ul.submission-sort a {
  color: white;
  padding-right: 15px;
}
/* line 743, sass/screen.scss */
.submissions ul.submission-sort a.desc {
  background-position: 35px -1372px;
  height: 8px;
  width: 10px;
}
/* line 746, sass/screen.scss */
.submissions ul.submission-sort a.asc {
  background-position: 35px -1400px;
  height: 8px;
  width: 10px;
}
/* line 749, sass/screen.scss */
.submissions ul.submission-sort a.popularity {
  background-position-x: 75px;
}
/* line 756, sass/screen.scss */
.submissions article {
  overflow: hidden;
  *zoom: 1;
}
/* line 758, sass/screen.scss */
.submissions article h1 {
  float: left;
}
/* line 764, sass/screen.scss */
.submissions article time {
  padding: 0 0 0 .5em;
}
/* line 769, sass/screen.scss */
.submissions article.simplified header {
  float: left;
}
/* line 772, sass/screen.scss */
.submissions article.simplified .votes {
  margin-top: .5em;
  margin-bottom: .5em;
}
/* line 782, sass/screen.scss */
.submissions.main .votes {
  width: 60px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 785, sass/screen.scss */
.submissions.main p.description {
  width: 380px;
  float: left;
  margin-right: 20px;
  display: inline;
  margin-top: 0;
}
/* line 789, sass/screen.scss */
.submissions.main aside {
  width: 60px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* -------------------------------------------------------------------------
   Submit Idea & Create Profile Form & Page */
/* line 802, sass/screen.scss */
.submit-idea span.form-help.inline {
  right: 660px;
}

/* line 809, sass/screen.scss */
.create-profile fieldset {
  margin-top: 1em;
  width: 460px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/susy-1.0.9/sass/susy/_grid.scss */
.create-profile fieldset:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 813, sass/screen.scss */
.create-profile fieldset label, .create-profile fieldset input {
  margin-left: 1em;
  margin-right: 1em;
}
/* line 822, sass/screen.scss */
.create-profile form input[type='submit'] {
  margin: 0 16px 1em;
}

/* -------------------------------------------------------------------------
   Learn Page */
/* line 838, sass/screen.scss */
.learn header ul {
  float: right;
}

/* -------------------------------------------------------------------------
   About Page */
/* line 856, sass/screen.scss */
.what-is-hapi h3, .what-is-hapi p, .program-structure h3, .program-structure p, .who-is h3, .who-is p {
  margin-left: 1em;
  margin-right: 1em;
}

/* -------------------------------------------------------------------------
   Contact Page */
/* -------------------------------------------------------------------------
   Idea Page */
/* line 873, sass/screen.scss */
.idea .votes {
  padding-left: 8px;
  padding-right: 8px;
  width: 44px;
  float: left;
  margin-right: 20px;
  display: inline;
  margin-top: 1.5em;
}
/* line 877, sass/screen.scss */
.idea div.info {
  width: 460px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  margin-bottom: 1em;
}
/* line 880, sass/screen.scss */
.idea div.info .idea-type {
  text-transform: capitalize;
}

/* -------------------------------------------------------------------------
   Edit Idea Page */
/* line 895, sass/screen.scss */
.idea.edit input[type="text"], .idea.edit input[type="password"], .idea.edit input[type="email"], .idea.edit textarea {
  min-width: 30em;
  max-width: 500px;
}

/* -------------------------------------------------------------------------
   Login Page */
/* -------------------------------------------------------------------------
   Profile Page */
/* line 921, sass/screen.scss */
.users.profile #social_help, .idea.edit #social_help {
  right: 250px;
}

/* -------------------------------------------------------------------------
  Posts (Croogo Nodes) Index Page */
/* line 933, sass/screen.scss */
.nodes .node:nth-child(n+3) {
  border-top: 1px solid #21a4b6;
  margin-top: 2em;
  padding-top: 1em;
}
/* line 939, sass/screen.scss */
.nodes .node h2 a {
  color: #222222;
}
/* line 944, sass/screen.scss */
.nodes .paging {
  float: right;
  line-height: 3.9em;
}
/* line 947, sass/screen.scss */
.nodes .paging .current {
  color: #222222;
}

/* Post (Croogo Node) View Page */
/* line 961, sass/screen.scss */
.node-wrapper .node header {
  color: white;
  background: #21a4b6;
  overflow: hidden;
  *zoom: 1;
}
/* line 82, sass/screen.scss */
.node-wrapper .node header a {
  color: white;
}
/* line 85, sass/screen.scss */
.node-wrapper .node header h2 {
  text-transform: uppercase;
}

/* 'Static' Pages - Pages w Custom Sidebar blocks */
/* -------------------------------------------------------------------------
   Full width 'About YUNUS/UNDP' Bar (breaks out of grid) */
/* line 983, sass/screen.scss */
div.organization-info {
  background-color: #d4edf1;
  color: #222222;
  margin-bottom: -1em;
  padding-bottom: 2em;
}
/* line 992, sass/screen.scss */
div.organization-info div.block {
  width: 460px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/susy-1.0.9/sass/susy/_grid.scss */
div.organization-info div.block:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 996, sass/screen.scss */
div.organization-info h3 {
  font-size: 1.5em;
  line-height: 1.91667em;
  text-align: center;
  margin-top: 1em;
}

/* -------------------------------------------------------------------------
   Full width 'Mentors' Bar (breaks out of grid) */
/* line 1007, sass/screen.scss */
section.mentors {
  background: url(../img/suede_bg.png) repeat-x center top #21a4b6;
  color: white;
}
/* line 1010, sass/screen.scss */
section.mentors ul {
  margin-bottom: 0;
  padding: .75em 0;
}
/* line 1014, sass/screen.scss */
section.mentors ul li {
  width: 300px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, ../../../../../../../../../../../Users/jennscheer/.rvm/gems/ruby-1.9.3-p327/gems/susy-1.0.9/sass/susy/_grid.scss */
section.mentors ul li:nth-child(3n) {
  float: right;
  margin-right: 0;
}
/* line 1019, sass/screen.scss */
section.mentors img {
  float: left;
  margin: 1em 1em 1em 0;
}
/* line 1026, sass/screen.scss */
section.mentors span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* -------------------------------------------------------------------------
   Footer */
/* line 1037, sass/screen.scss */
.content > footer {
  background: url(../img/concrete_bg.jpg) repeat-x center top #21a4b6;
  color: white;
}
/* line 1040, sass/screen.scss */
.content > footer a {
  color: white;
}
/* line 1043, sass/screen.scss */
.content > footer h3 {
  text-transform: uppercase;
}
/* line 1046, sass/screen.scss */
.content > footer .sitemap {
  width: 620px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 1048, sass/screen.scss */
.content > footer .sitemap ul {
  float: left;
  width: 140px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 1052, sass/screen.scss */
.content > footer .sitemap li:nth-child(4) {
  margin-top: 1em;
}
/* line 1056, sass/screen.scss */
.content > footer .social {
  width: 300px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  text-align: right;
}
/* line 1059, sass/screen.scss */
.content > footer .social li a {
  display: block;
  float: right;
  margin: 0 0 0 1em;
}
/* line 1064, sass/screen.scss */
.content > footer .social li a.fb {
  background-position: 0 -1433px;
  height: 60px;
  width: 60px;
}
/* line 1067, sass/screen.scss */
.content > footer .social li a.rss {
  background-position: 0 -93px;
  height: 60px;
  width: 60px;
}
/* line 1070, sass/screen.scss */
.content > footer .social li a.google {
  background-position: 0 -173px;
  height: 60px;
  width: 60px;
}
/* line 1075, sass/screen.scss */
.content > footer ul {
  margin: 0;
}
/* line 1078, sass/screen.scss */
.content > footer p {
  width: 940px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  text-align: center;
  margin: 2em 0;
}

/* -------------------------------------------------------------------------
   Modal */
/* line 1089, sass/screen.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
/* line 1101, sass/screen.scss */
.modal.open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  pointer-events: auto;
}
/* line 1106, sass/screen.scss */
.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
/* line 1114, sass/screen.scss */
.modal .modal-close {
  color: black;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 5px;
  font-size: 2em;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
}
/* line 1124, sass/screen.scss */
.modal .modal-close:hover {
  color: #21a4b6;
}

/* line 1128, sass/screen.scss */
.flash_message {
  text-align: center;
}
/* line 1130, sass/screen.scss */
.flash_message > div {
  padding-bottom: 2em;
}

/* IE Fallbacks */
/* line 1141, sass/screen.scss */
.lt-ie9 .modal {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: none;
}
/* line 1147, sass/screen.scss */
.lt-ie9 .modal.open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
  display: block;
}
