/* -------------------------------------------------------------------------
   Imports */

@import "base";

@import "compass/typography/vertical_rhythm";

@import "compass/css3";

@import "compass/support";

/* Vars */
$primary_bg:         #21a4b6;
$primary_bg_text:    white;
$primary_bg_hover:   #222;

$secondary_bg:       #d4edf1;
$secondary_bg_text:  #222;

$body_text:          #222;

$link_color:         $primary_bg;
$link_color_hover:   darken($primary_bg, 20%);
$link_color_visited: $primary_bg;


$base-font-family: 'PT Sans', 'Myriad Pro', sans-serif;

$base-font-size: 16px;
$base-line-height: 23px;

$default-rhythm-border-style: solid;

@include establish-baseline($base-font-size);



/* A Fluid Grid based on 960gs */
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

/* Legacy Support */
$legacy-support-for-ie  : true;
$legacy-support-for-ie6 : $legacy-support-for-ie;
$legacy-support-for-ie7 : $legacy-support-for-ie;

/* Not Fluid */
$container-style: static;

/* Sprite */
$sprites-spacing: 20px;
$sprites-sprite-dimensions: true;
$sprites: sprite-map("sprites/*.png", $spacing: 20px); /* sdknf */

@import "sprites/*.png";


/* -------------------------------------------------------------------------
   Layout */

.container {
  @include container;
  //@include susy-grid-background;
}

/* -------------------------------------------------------------------------
   Extensions : Individual Section Blocks */

@mixin h3 {
  font-size: 1.17em;
  margin: 0.85em 0 0;
  font-weight: bold;
}

@mixin section_header {
  color: $primary_bg_text;
  background: $primary_bg;
  @include clearfix;
  @extend .inline-padding;
  a {
    color: $primary_bg_text;
  }
  h2 {
    text-transform: uppercase;
  }
}

.inline-padding {
  padding: 0 $base-font-size;
}

.full-spacing {
  margin: 1em;
}

.hidden-text {
  text-indent: 9999px;
  overflow: hidden;
}

.accent-text {
  color: $primary_bg;
  font-weight:bold;
}

.action-button {
  display: inline-block;
    zoom: 1;
    *display: inline;
  padding: .5em 1em;
  background-color: $primary_bg;
  color: $primary_bg_text;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: $primary_bg_hover;
    color: $primary_bg_text;
  }
  &:visited {
    color: $primary_bg_text;
  }
}

.column-wrapper {
  background: $secondary_bg;
  color: $secondary_bg_text;
  margin-bottom: 1em;
  > header {
    @include section_header;
  }
  > .inner {
    @extend .full-spacing;
  }
  .read-more {
    float: right;
    line-height: 2em;
    margin-right: .5em;
    a {
      padding-left: 2em;
      @include sprites-sprite(read_more, $offset_y: 5px);
    }
  }
}

.horizontal-ul {
  li {
    display: inline-block;
      zoom: 1;
      *display: inline;
    padding: 0 .5em;
  }
}

/* Could change depending on success or failure */
#flashMessage {
  padding: 1em;
  margin-bottom: 1em;
  &.message, &.success {
    background-color: #c2ebaa;
  }
}


/* -------------------------------------------------------------------------
   Basic Defaults & Overrides */

html, body {
  font-family: $base-font-family;
  color: $body_text;
}

h3 {
  margin: 1.5em 0 .7em;
}

ul {
  list-style: none;
  list-style-image: none;
  padding: 0;
}

label {
  font-weight: bold;
}

label, input, textarea {
  display: block;
  font-family: $base-font-family;
}

input[type="checkbox"] {
  float: left;
  margin: 3px .5em 0;
  + label {
    margin-right: 1.5em;
  }
}

select {
  margin-bottom: 1em;
}

input[type="text"],input[type="password"],input[type="email"], textarea {
  box-shadow: inset 1px 1px 1px #ccc;
  margin: .25em 0 1em;
  padding: 5px 7px;
  border: 1px solid #aaa;
  min-width: 22em;
}

input[type='submit'] {
  @extend .action-button;
  margin: 1em 0;
}

div.input.checkbox {
  margin-bottom: 1em;
}

p {
  margin: 1em 0 .5em;
}

time {
  color: $primary_bg;
  font-weight: bold;
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_color_hover;
    text-decoration: underline;
  }
  &:visited {
    color: $link_color;
  }

  /* Buttons */
  &.button {
    @extend .action-button;
  }
}

/* Vote Buttons */
.votes {
  min-height: 82px;
  text-align: center;
  a {
    display: block;
    width: 38px;
    height: 45px !important;
    line-height: 38px;
    color: white;
    padding: .25em .5em;
    margin: 3px;
    &:hover {
      text-decoration: none
    }
    &.up {
      @include sprites-sprite(vote_up_wide_blue, $offset_x: 8px);
      &:hover {
        @include sprites-sprite(vote_up_wide_darkgrey, $offset_x: 8px); 
      }
      &.voted {
        @include sprites-sprite(vote_up_wide_white, $offset_x: 8px); 
      }
    }
    &.down {
      @include sprites-sprite(vote_down_wide_blue, $offset_x: 8px, $offset_y: -29px); 
      margin-top: -25px;
      line-height: 51px;
      &:hover {
        @include sprites-sprite(vote_down_wide_darkgrey, $offset_x: 8px, $offset_y: -29px); 
      }
      &.voted {
        @include sprites-sprite(vote_down_wide_white, $offset_x: 8px, $offset_y: -29px); 
      }
    }

    &.voted {
      color: $primary_bg;
      cursor: default;
    }
  }
}

section {
  header {
    .votes {
      .up {
        @include sprites-sprite(vote_up_wide_grey, $offset_x: 8px); 
      }
      .down {
        @include sprites-sprite(vote_down_wide_grey, $offset_x: 8px, $offset_y: -29px); 
      }
    }
  }  
}


/* -------------------------------------------------------------------------
   Main Content Sections */

.faq-tab {
  position: fixed;
  top: 30%;
  left: 0;
  background-color: $primary_bg;
  a {
    color: white;
    display: inline-block;
      zoom: 1;
      *display: inline;
    padding: .5em;
  }

  /* Rotation */
  left: -1.2em;
  @include transform(rotate(-90deg));
  a {
    padding: .5em 1em;
    @include adjust-font-size-to(20px);
    line-height: 1em;
  }
}

/* Live within 12-column grid */
.content {
  header.global,
  & > div.main,
  & > footer > div {
    @extend .container;
  }

  /* Main Header */
  header.global {
    h1 a {
      display: block;
      @include sprites-sprite(logo);
      @extend .hidden-text;
    }
    a.button {
      float: right;
      background: url(../img/concrete_bg.jpg) no-repeat center top $primary_bg;
      @include adjust-font-size-to(18px);
    }
    nav {
      ul {
        margin-top: 2.5em;
        margin-bottom: 1em;
      }
      li.sub {
        float: right;
        padding: 0;
        font-size: 1em;
      }
    }
    li {
      display: inline-block;
        zoom: 1;
        *display: inline;
      padding: 0 2.5em 0 0;
      font-size: $base-font-size*1.5;
      a {
        color: black;
        text-decoration: none;
        span {
          font-weight: normal;
        }
        &:hover {
          color: $link_color;
        }
      }
    }
    a.active {
      color: $primary_bg;
      cursor: default;
    }
    /* Not supported by IE */
    li:not(.sub) a {
      font-weight: bold;
    }
  }
}


/* -------------------------------------------------------------------------
   Universal Article Elements */
article {
  header {
    @include clearfix;
  }
  h1 {
    @include h3;
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color: black;
      }
    }
  }
  aside {
    a {
      display: inline-block;
        zoom: 1;
        *display: inline;
      width: 26px;
      height: 28px;
      @extend .hidden-text;
      margin: 0 .5em 0 0;
    }
  }
  .share_comment {
    background: url(../img/sprites/share_comment_blue.png) no-repeat center 2px transparent;
    &:hover {
      background: url(../img/sprites/share_comment_grey.png) no-repeat center 2px transparent;
    }
  }
  .share_fb {
    background: url(../img/sprites/share_fb_blue.png) no-repeat center top transparent;
    &:hover {
      background: url(../img/sprites/share_fb_grey.png) no-repeat center top transparent;
    }
  }
}


/* -------------------------------------------------------------------------
   Column Setups */

/* Home */
.news {
  @include span-columns(7,12);
}
.submissions.sidebar {
  @include span-columns(5 omega,12);
}

/* Engage */
.submissions.header {
  @include span-columns(7,12);
}

.submissions.main {
  @include span-columns(7,12);
}
.program {
  @include span-columns(5 omega,12);
}

/* Submit */
.submit-idea, .create-profile {
  @include span-columns(12 omega,12);
}

/* Learn */
.learn {
  @include span-columns(9,12);
}
.learn-more {
  @include span-columns(3 omega,12);
}

/* About */
/*.what-is-hapi, .program-structure {
  @include span-columns(8,12);
}*/
.who-is {
  @include span-columns(4 omega,12);
}

/* Contact */
.contact-wrapper {
  @include span-columns(8,12);
}
.direct-contact {
  @include span-columns(4 omega,12);
}

/* Idea Page, View & Edit */
.idea {
  @include span-columns(7,12);
}

.idea-comments {
  @include span-columns(7,12);
}

.references {
  @include span-columns(5 omega,12);
}

/* Login, Profile */
.users {
  @include span-columns(7,12);
}

/* Register */
.what-is-hapi.sidebar {
  @include span-columns(5 omega,12);
}


/* Posts (Croogo Nodes) Index Page */
.nodes {
  @include span-columns(9,12);
}

.categories {
  @include span-columns(3 omega, 12);
}


/* Post (Croogo Node) View Page */
.node-wrapper {
  @include span-columns(9,12);
}

.node-comments {
  @include span-columns(7,12);
}

.node-wrapper.static {
  @include span-columns(7,12);
}

.static.sidebar {
  @include span-columns(5 omega,12);
}


/* Full-width miscellaneous text between main content and footer */
aside.miscellaneous {
  @include span-columns(12 omega,12);
  clear: both;
}

div.main {
  clear: both;
  /* Main Content Aside */
  > aside {
    h3 {
      text-align: center;
    }
  }
}

/* Home elements */

.slideshow {
  position: relative;
  height: 200px;
  ul.slides {
    z-index: 1;
    margin: 0;
    li {
      position: absolute;
      top:0;
      left: 0;
      &:nth-child(1) {
        z-index: 1;
      }
      &.selected {
        z-index: 2;  
        pointer-events: auto;
      }
    }    
  }
  ul.toggles {
    z-index:2;
    position: absolute;
    bottom: 0;
    right: 1em;
    li {
      //@include sprites-sprite(toggle);
      width: 30px;
      height: 30px;
      float: left;
      @extend .hidden-text;
      background: url(../img/sprites/toggle.png) no-repeat left top transparent;
      z-index: 10;
      cursor: pointer;
      color: white;
    }
  }
}

.news {
  @extend .column-wrapper;
  padding-bottom: 1em;
  article {
    @include span-columns(7 omega,7);
    .image {
      @include span-columns(2,7, $base-font-size 0px);
    }
    header {
      @include span-columns(5 omega, 7);
    }
    .content {
      @include span-columns(5 omega, 7);
      @include adjust-font-size-to(14px);
      p {
        margin-top: 0;
      }
    }
    img {
      margin: 1.25em 0;
      max-width: 100%;
    }
    p {
      float: left;
    }
    header ~ p {
    }
    time {
      padding: 0 .5em 0 0;
    }
  }
}
.submissions.sidebar {
  @extend .column-wrapper;
  .votes {
    @include span-columns(1 omega,5);
    ~ div {
      @include span-columns(4,5);
      p, aside {
        margin: 1em;
      }
    }
  }
}


/* Engage elements - fixed height, unfortunately */
.submissions.main,
.program {
  @extend .column-wrapper;
  div.fixed-height {
    height: 920px;
    overflow: scroll;
  }
}

.program {
  h3, .block-body {
    @extend .inline-padding;
  }
}


/* Homepage Submissions */
.submissions {
  ul.submission-sort {
    @extend .horizontal-ul;
    float: right;
    a {
      color: $primary_bg_text;
    }
  }

  /* Individual Submissions */
  article {
    @include clearfix;
    h1 {
      float: left;
    }
    header {
      @extend .inline-padding;
    }
    time {
      padding: 0 0 0 .5em;
    }

    &.simplified {
      header {
        float: left;
      }
      .votes {
        margin-top: .5em;
        margin-bottom: .5em;
      }
    }
  }

  /* Wider submissions */
  &.main {

    .votes {
      @include span-columns(1, 7);
    }
    p.description {
      @include span-columns(5, 7);
      margin-top: 0;
    }
    aside {
      @include span-columns(1 omega, 7);
    }

  }
}


/* -------------------------------------------------------------------------
   Submit Idea & Create Profile Form & Page */

.submit-idea {
  @extend .column-wrapper;
}

.create-profile {
  @extend .column-wrapper;
  fieldset {
    margin-top: 1em;
    @include span-columns(6, 12);
    @include nth-omega(2n);
    label, input {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  form {
    p {
      @extend .inline-padding;
    }
    input[type='submit'] {
      margin: 0 $base-font-size 1em;
    }
  }
}


/* -------------------------------------------------------------------------
   Learn Page */

.learn, .learn-more {
  @extend .column-wrapper;
}

.learn {
  header {
    ul {
      @extend .horizontal-ul;
      float: right;
    }
  }
}

.learn-more {
  ul {
    @extend .inline-padding;
  }
}

/* -------------------------------------------------------------------------
   About Page */

.what-is-hapi, .program-structure, .who-is {
  @extend .column-wrapper;
  h3, p {
    margin-left: 1em;
    margin-right: 1em;
  }
}


/* -------------------------------------------------------------------------
   Contact Page */
.contact-wrapper, .direct-contact {
  @extend .column-wrapper;
}

/* -------------------------------------------------------------------------
   Idea Page */
.idea {
  @extend .column-wrapper;
  .votes {
    @include span-columns(1, 7, 8px);
    margin-top: 1.5em;
  }
  div.info {
    @include span-columns(6 omega, 7);
    margin-bottom: 1em;
    .idea-type {
      text-transform: capitalize;
    }
  }
}

.idea-comments {
  @extend .column-wrapper;
}


/* -------------------------------------------------------------------------
   Edit Idea Page */
.idea.edit {

  input[type="text"], input[type="password"], input[type="email"], textarea {
    min-width: 30em;
    max-width: 500px;    
  }

}

.references {
  @extend .column-wrapper;
}

/* -------------------------------------------------------------------------
   Login Page */

.users {
  @extend .column-wrapper;
  > div {
    @extend .full-spacing;
  }
}


/* -------------------------------------------------------------------------
   Profile Page */


/* -------------------------------------------------------------------------
  Posts (Croogo Nodes) Index Page */
.nodes {
  @extend .column-wrapper;
  .node {
    @extend .full-spacing;
    &:nth-child(n+3) {
      border-top: 1px solid $primary_bg;
      margin-top: 2em;
      padding-top: 1em;
    }
    h2 {
      a {
        color: $body_text;
      }
    }
  }
  .paging {
    float: right;
    line-height: 3.9em;
    .current {
      color: $body_text;
    }
  }
}

.categories {
  @extend .column-wrapper;
}


/* Post (Croogo Node) View Page */
.node-wrapper {
  @extend .column-wrapper;
  .node header {
    @include section_header;
  }
  header + div {
    @extend .full-spacing;
  }
  .node-comments {
    @extend .full-spacing;
  }
}

/* 'Static' Pages - Pages w Custom Sidebar blocks */
.static.sidebar {
  @extend .column-wrapper;
}



/* -------------------------------------------------------------------------
   Full width 'About YUNUS/UNDP' Bar (breaks out of grid) */

div.organization-info {
  background-color: $secondary_bg;
  color: $secondary_bg_text;
  margin-bottom: -1em;
  padding-bottom: 1em;
  > div {
    @extend .container;

  }
  div.block {
    @include span-columns(6,12);
    @include nth-omega(2n);
  }
  h3 {
    text-align: center;
  }
}


/* -------------------------------------------------------------------------
   Full width 'Mentors' Bar (breaks out of grid) */

section.mentors {
  background: url(../img/suede_bg.png) repeat-x center top $primary_bg;
  color: $primary_bg_text;
  ul {
    @extend .container;
    margin-bottom: 0;
    li {
      @include span-columns(4,12);
      @include nth-omega(3n);
    }
  }
  img {
    float: left;
    margin: 1em 1em 1em 0;
  }
  a {
    //color: $primary_bg_text;
  }
}


/* -------------------------------------------------------------------------
   Footer */

.content > footer {
  background: url(../img/concrete_bg.jpg) repeat-x center top $primary_bg;
  color: white;
  a {
    color: white;
  }
  h3 {
    text-transform: uppercase;
  }
  .sitemap {
    @include span-columns(8,12);
    ul {
      float: left;
      @include span-columns(2,8);
    }
    li:nth-child(4) {
      margin-top: 1em;
    }
  }
  .social {
    @include span-columns(4 omega,12);
    text-align: right;
    li a {
      display: block;
      float: right;
      margin: 0 0 0 1em;
      @extend .hidden-text;
      &.fb {
        @include sprites-sprite(fb);
      }
      &.rss {
        @include sprites-sprite(rss);
      }
      &.google {
        @include sprites-sprite(google);
      }
    }
  }
  ul {
    margin: 0;
  }
  p {
    @include span-columns(12 omega,12);
    text-align: center;
    margin: 2em 0;
  }
}


/* -------------------------------------------------------------------------
   Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  @include opacity(0);
  @include transition(opacity 400ms ease-in);
  pointer-events: none;

  &.open {
    @include opacity(1);
    pointer-events: auto;
  }

  & > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    @include border-radius(3px);
    background: #fff;
  }
  .modal-close {
    color: black;
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 5px;
    font-size: 2em;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    &:hover { color: $primary_bg; }
  }
}



.lt-ie9 {

  .modal {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); 
    zoom: 1;
  }

}